.organizations-sidebar {
  background-color: darkgreen;
  color: antiquewhite;
  padding: 16px;
  text-align: center;
}

.organization {
  opacity: .5;
  cursor: pointer;
  font-size: 18px;
  background-color: darkcyan;
  border-radius: 4px;
  padding: 8px;
}

.organization:hover {
  opacity: 1;
}

.organization.active {
  opacity: 1;
}

.organization.active:hover {
  opacity: .5;
}

.conversations-sidebar {
  background-color: darkred;
  color: antiquewhite;
  padding: 16px;
  width: 300px;
  flex-shrink: 0;
}

.conversations-sidebar h1{
  font-size: 25px;
}

.chat-section {
  margin-top: 24px;
}

.chat-section-header {
  display: flex;
  justify-content: space-between;
}


.chat-section-header h3 {
  font-size: 16px;
  margin: 0;
}
